[Desktop Entry]
Name=PyTopo
Comment=Online and Offline Maps
Exec=pytopo
Terminal=false
Type=Application
Icon=/usr/share/pytopo/pytopo.png
Categories=Maps;
